<header ng-include="'/views/partials/navbar.html'"></header>

<div layout="column" flex="100" layout-align = "start center">
  <h2>Caseworkers</h2>
<div layout = "row">
  <md-button class="md-raised md-primary" href="#admin-caseworker-new">
      Add New Caseworker</md-button>
</div>

<div>
  <md-input-container>
    <label>Search</label>
    <input ng-model = "">
  </md-input-continer>
</div>

<div layout = "row" layout-align = "center center">

  <md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Caseworker</span></th>
        <th md-column md-numeric md-order-by="time.value"><span>Agency</span></th>
        <th md-column md-numeric>Agency ID</th>
        <th md-column md-numeric>On-Hold</th>
        <th md-column md-numeric>View Profile</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row >
        <td md-cell>Amina Mohammed</td>
        <td md-cell>Ramsey County</td>
        <td md-cell>1578</td>
        <td md-cell>No</td>
        <td md-cell><a href="#admin-caseworker-edit">See Details</a></td>
      </tr>
      <tr md-row >
        <td md-cell>Betsy Rowley</td>
        <td md-cell>County</td>
        <td md-cell>1580</td>
        <td md-cell>Yes</td>
        <td md-cell><a href="#admin-caseworker-edit">See Details</a></td>
      </tr>
      <tr md-row >
        <td md-cell>Nic Wilson</td>
        <td md-cell>Lifetrack</td>
        <td md-cell>1530</td>
        <td md-cell>No</td>
        <td md-cell><a href="#admin-caseworker-edit">See Details</a></td>
      </tr>
    </tbody>
      <!-- <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts.data">
        <td md-cell>{{dessert.name}}</td>
        <td md-cell>{{dessert.calories.value}}</td>
        <td md-cell>{{dessert.fat.value | number: 1}}</td>
        <td md-cell>{{dessert.carbs.value}}</td>
        <td md-cell>{{dessert.protein.value | number: 1}}</td>
        <td md-cell>{{dessert.sodium.value}}</td>
        <td md-cell>{{dessert.calcium.value}}{{dessert.calcium.unit}}</td>
        <td md-cell><a href="#">See Detail</a></td>
      </tr> -->
    </tbody>
  </table>
  </md-table-container>
</div>
  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
</div>
