<div layout="column" flex="100" layout-align = "start center"
      ng-init = "vm.getAgencies()" layout-margin>
  <md-table-container class="md-whiteframe-1dp">
    <div class="md-toolbar-tools" layout = "row" layout-align="end center">
      <md-button class="md-raised md-primary" href="#admin-agency-new">
          Add New Agency
      </md-button>
      <span flex></span>
      <md-input-container class="admin-search" >
        <label>Search</label>
        <input type="text" ng-model= "test">
      </md-input-continer>
    </div>
    <table md-table md-progress="promise">
    <thead md-head md-order="vm.query.order" md-on-reorder = "vm.getAgencies">
      <tr md-row>
        <th md-column><span>Agency</span></th>
        <th md-column><span>Agency ID</span></th>
        <th md-column>Access Disabled</th>
        <th md-column>View Profile</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row
          ng-repeat="agency in vm.agencies.array | filter : test |
          limitTo: vm.query.limit: (vm.query.page -1) * vm.query.limit">
        <td md-cell>{{agency.name}}</td>
        <td md-cell>{{agency.bridging_agency_id}}</td>
        <td md-cell ng-if = "agency.access_disabled == true">Yes</td>
        <td md-cell ng-if = "agency.access_disabled == false">No</td>
        <td md-cell><a href="#admin-agency-edit" ng-click = "vm.viewAgency(agency.id)">
            See Details</a></td>
      </tr>
    </tbody>
  </table>
  </md-table-container>

  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]"
        md-page="vm.query.page" md-total="{{vm.agencies.array.length}}"
        md-on-paginate="vm.getAgencies" md-page-select></md-table-pagination>
</div>
