<div layout="column" flex = "100" layout-align = "start center"
      ng-init = "vm.getAllAppointments()">
    <h2>All Appointments</h2>

<div layout = "row">
  <md-input-container>
    <label>Search</label>
    <input ng-model = "test">
  </md-input-continer>
</div>

  <md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selected" md-progress="promise">
    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getAllAppointments">
      <tr md-row>
        <th md-column md-date md-order-by="vm.allAppointments.date"><span>Date</span></th>
        <th md-column md-numeric md-order-by="vm.allAppointments.time"><span>Time</span></th>
        <th md-column md-numeric>Type</th>
        <th md-column md-numeric>Agency</th>
        <th md-column md-numeric>Caseworker</th>
        <th md-column md-numeric>Client</th>
        <th md-column md-numeric>Status</th>
        <th md-column md-numeric>Confirmation#</th>
        <th md-column md-numeric>View Appointment</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="appointment" md-select-id="name" md-auto-select
          ng-repeat="appointment in vm.allAppointments.array | filter : test |
          limitTo: vm.query.limit: (vm.query.page -1) * vm.query.limit">
        <td md-cell>{{appointment.date}}</td>
        <td md-cell>{{appointment.time}}</td>
        <td md-cell>{{appointment.type}}</td>
        <td md-cell>{{appointment.name}}</td>
        <td md-cell>{{appointment.caseworker}}</td>
        <td md-cell>{{appointment.client}}</td>
        <td md-cell>{{appointment.status}}</td>
        <td md-cell>{{appointment.confirmationNumber}}</td>
        <td md-cell><a href="#admin-appointment-review"
            ng-click = "vm.viewAppointment(appointment)">See Details</a></td>
      </tr>
    </tbody>
  </table>
  </md-table-container>
</div>
  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]"
        md-page="vm.query.page" md-total="{{vm.allAppointments.array.length}}"
        md-on-paginate="vm.getAllAppointments" md-page-select></md-table-pagination>
</div>
