<div layout="column" flex = "100" layout-align = "start center" 
    ng-init = "vm.getAgencies()">
<h2>New Administrator</h2>

<md-content layout-padding>
<div flex>
<form name = "newAdministratorForm" ng-submit="vm.createAdministrator()">
  <div layout-gt-xs = "row">
    <md-input-container class = "md-block" flex-gt-xs>
      <label>Agency</label>
      <md-select ng-model = "vm.administrator.agency_id" required>
          <md-option ng-repeat = "agency in vm.agencies.array"
                      ng-value = "agency.id">
            {{agency.name}}
          </md-option>
      </md-select>
    </md-input-container>
  </div>

  <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>First Name</label>
        <input ng-model="vm.administrator.first" required>
        <div ng-messages="newAdministratorForm.first.$error" role="alert">
          <div ng-message="required" class="my-message">
            Cannot leave name blank.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Last Name</label>
        <input ng-model="vm.administrator.last" required>
        <div ng-messages="newAdministratorForm.last.$error" role="alert">
          <div ng-message="required" class="my-message">
            Cannot leave name blank.</div>
        </div>
      </md-input-container>
    </div>

    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Phone</label>
        <input ng-model="vm.administrator.day_phone">
      </md-input-container>

      <md-input-container class="md-block">
        <label>Ext.</label>
        <input ng-model="vm.administrator.ext">
      </md-input-container>

    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <input type="email" ng-model="vm.administrator.email" required>
        <div ng-messages="newAdministratorForm.email.$error" role="alert">
          <div ng-message="required" class="my-message">
            Cannot leave email blank.</div>
      </md-input-container>
    </div>

    <md-input-container class="md-block">
        <md-checkbox name = "disabled" ng-model="confirmCreation" required>
          I understand that I am creating a new administrator with full access to all admin privileges of this application
        </md-checkbox>
      </md-input-container>

    <div>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="newAdministratorForm.$invalid && !confirmCreation">
        Create Administrator</md-button>
      <a href="#admin-caseworker-overview"><md-button type="button">Cancel</md-button></a>
    </div>


  </form>
</div>
</md-content>
</div>
