<div layout="column" flex>
  <div>
    <h2 >Default Appointment Schedule</h2>
  </div>


    <div layout = "row" flex>
      <div class ="flex">
        <h3>Location</h3>
      </div>

      <div class ="flex">
        <h3>Days</h3>
      </div>

      <div class ="flex">
        <h3>Time Slots</h3>
      </div>

      <div class ="flex">
        <h3>Number Available</h3>
      </div>

      <div class ="flex">
        <h3>Types</h3>
      </div>
    </div>

    <div layout = "row">
      <md-button type="submit"  class="md-raised md-primary">Reset</md-button>
      <md-button type="submit"  class="md-raised md-primary">Save Changes</md-button>
    </div>
</div>
