<div layout="column" flex = "100" layout-align = "start center"
      ng-init = "vm.getAgencies()">
    <h2>New Caseworker</h2>

  <md-content layout-padding>
    <div flex>
      <form name = "newCaseworkerForm">
        <div layout-gt-xs = "row">
          <md-input-container class = "md-block" flex-gt-xs>
            <label>Agency</label>
            <md-select ng-model = "vm.caseworker.agency_id" required>
                <md-option ng-repeat = "agency in vm.agencies.array"
                            ng-value = "agency.id">
                  {{agency.name}}
                </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>First Name</label>
              <input ng-model="vm.caseworker.first" required>
              <div ng-messages="newCaseworkerForm.first.$error" role="alert">
                <div ng-message="required" class="my-message">
                  Cannot leave name blank.</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Last Name</label>
              <input ng-model="vm.caseworker.last" required>
              <div ng-messages="newCaseworkerForm.last.$error" role="alert">
                <div ng-message="required" class="my-message">
                  Cannot leave name blank.</div>
              </div>
            </md-input-container>
          </div>


          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Department/Program</label>
              <input ng-model="vm.caseworker.department">
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>Address</label>
            <input ng-model="vm.caseworker.street">
          </md-input-container>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>City</label>
              <input ng-model="vm.caseworker.city">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>State</label>
              <input ng-model="vm.caseworker.state" placeholder="MN"
              ng-pattern="/^[0-9]{2}$/" md-maxlength="2">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Postal Code</label>
              <input name="postalCode" ng-model="vm.caseworker.zip_code"
                     ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

              <div ng-messages="userForm.postalCode.$error" role="alert">
                <div ng-message="pattern" class="my-message">
                  Please enter a 5 digit postal code.</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Phone</label>
              <input ng-model="vm.caseworker.day_phone">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Ext.</label>
              <input ng-model="vm.caseworker.ext">
            </md-input-container>

          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <input ng-model="vm.caseworker.email" required>
              <div ng-messages="newCaseworkerForm.email.$error" role="alert">
                <div ng-message="required" class="my-message">
                  Cannot leave email blank.</div>
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>Additional Notes</label>
            <textarea ng-model="vm.caseworker.notes" rows="5" md-select-on-focus></textarea>
          </md-input-container>

          <md-input-container class="md-block">
            <md-checkbox name = "disabled" ng-model = "vm.caseworker.access_disabled">
              Caseworker Account On-Hold (Caseworker cannot schedule appointments if checked)
            </md-checkbox>
          </md-input-container>

          <div>
            <md-button type="submit" class="md-raised md-primary" ng-click = "vm.createCaseworker()">
              Submit</md-button>
            <a href="#admin-caseworker-overview"><md-button type="button">Cancel</md-button></a>
          </div>


        </form>
      </div>
    </md-content>
</div>
