<div layout="column" ng-init = "vm.getAllDefaults()"
      layout-align = "start center">

  <div>
    <h2 >Default Appointment Schedule</h2>
  </div>

  <div layout = "row" class = "addButton">
    <md-button class="md-raised md-primary" href="#admin-default-appointment-new">
        Add New Appointment Slot</md-button>
    <md-input-container>
      <label>Search</label>
      <input ng-model = "test">
    </md-input-continer>
  </div>

  <md-table-container>
    <table md-table md-progress="promise">
    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getAllDefaults">
      <tr md-row>
        <th md-column><span>Location</span></th>
        <th md-column>Week Day</th>
        <th md-column>Type</th>
        <th md-column>Method</th>
        <th md-column md-numeric>Start Time</th>
        <th md-column md-numeric>End Time</th>
        <th md-column md-numeric># Allowed</th>
        <th md-column>Actions</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="default in vm.allDefaults.array | filter : test |
          limitTo: vm.query.limit: (vm.query.page -1) * vm.query.limit"
          ng-class-odd = "'odd'" ng-class-even = "'even'">
        <td md-cell>{{default.location_name}}</td>
        <td md-cell>{{default.day}}</td>
        <td md-cell>{{default.appointment_type}}</td>
        <td md-cell>{{default.delivery_method}}</td>
        <td md-cell>{{default.start_time}}</td>
        <td md-cell>{{default.end_time}}</td>
        <td md-cell>{{default.num_allowed}}</td>
        <td md-cell>
            <md-button class="md-raised md-warn"
            ng-click = "vm.viewDefaultSlot(default.appointment_slot_id)">Edit Default</md-button>

          </td>
      </tr>
    </tbody>
  </table>
  </md-table-container>

  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]"
        md-page="vm.query.page" md-total="{{vm.allDefaults.array.length}}"
        md-on-paginate="vm.getAllDefaults" md-page-select></md-table-pagination>
</div>
