<div class="caseworker-appointment-new" layout="column" layout-align="start center" flex>
  <h3>Appointment Date and Time</h3>
  <div class="caseworker-appointment-info" layout="row" layout-align="center center">
    <div class="md-padding appointment-type">
      <span>{{vm.appointment.appointment_type}} w/ {{vm.appointment.delivery_method}}</span>
    </div>
    <div class="md-padding appointment-location">
      <i class="material-icons">place</i>
      <span>{{vm.appointment.loc.location}}</span>
    </div>
    <div class="md-padding appointment-date-time">
      <i class="material-icons">today</i>
      <span>{{vm.selectedDate |date: 'shortDate'}},
      {{vm.selectedAppointment.start_time}}</span>

    </div>
  </div>
  <div class="caseworker-appointment-schedule-inputs" layout="row">
    <div class="appoint-schedule-calendar">
      <md-calendar
          ng-model="vm.selectedDate"
          ng-change="vm.selectDate(vm.selectedDate)"
          md-min-date="vm.minDate" md-max-date="vm.maxDate"
          md-date-filter="vm.availableAppointmentsPredicate">
      </md-calendar>
    </div>
    <form class="md-padding appoint-schedule-slot" layout="column" layout-align="center center">
        <p>Select an appointment:</p>
          <md-radio-group ng-model="vm.selectedAppointment">
            <md-radio-button
              ng-value="appointment"
              ng-repeat="appointment in vm.appointmentSlots">
                {{appointment.start_time}}
            </md-radio-button>
          </md-radio-group>
          <div layout="row">
            <md-button class="md-raised md-warn" ng-click="">Cancel</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.reserveAppointment()">Update</md-button>
          </div>
    </form>
  </div>
</div>
