<div class="caseworker-appointment-new" layout="column" layout-align="start center" flex>
  <h3>Client Zip Code</h3>
  <div class="caseworker-appointment-delivery-zip-code-input" layout="column">
    <p>Please enter the zip code for the address where your furniture will be delivered.</p>
    <md-input-container>
      <label>Zipcode</label>
      <input ng-model="vm.zipCode" type="number">
    </md-input-container>
    <md-button
      class="md-raised md-primary"
      ng-click="vm.submitZipCode(vm.zipCode)">
        Next
    </md-button>
  </div>
</div>
