<div class="caseworker-appointment-new" layout="column" layout-align="center center" flex>
  <div class="caseworker-appointment-delivery-zip-code-input" layout="column">
    <p>Please enter the zip code for the address where your furniture will be delivered.</p>
    <md-input-container>
      <label>Zipcode</label>
      <input type="number">
    </md-input-container>
    <md-button
      class="md-raised md-primary"
      href="#caseworker-appointment-schedule">
        Next
    </md-button>
  </div>
</div>
