<div class="caseworker-appointment-new" layout="column" layout-align="center center" flex="50">
  <div class="caseworker-appointment-delivery-type-selection" layout="column">
    <p>For this appointment will your client be picking up the furniture or having it delivered?</p>
    <md-button
      class="md-raised md-accent"
      href="#caseworker-appointment-pickup-location">
        I will pick up my furniture using a vehicle I provide
    </md-button>
    <md-button
      class="md-raised md-primary"
      href="#caseworker-appointment-zipcode">
        I will have my furniture delivered by Bridging
    </md-button>
  </div>
</div>
