<div class="caseworker-home" layout="column" ng-init="vm.navBar.updateCurrentNavItem('all')">
  <md-toolbar class="appointment-filter-buttons md-whiteframe-1dp">
    <div class="md-toolbar-tools" layout="row" flex="auto">
      <md-button class="md-raised md-primary"  ng-click="vm.setAppointmentFilter(undefined)">Show All</md-button>
      <md-button class="md-raised" ng-click="vm.setAppointmentFilter(vm.CONSTANTS.APPOINTMENT_TYPE_SHOPPING)">Show Shopping Appointments Only</md-button>
      <md-button class="md-raised" ng-click="vm.setAppointmentFilter(vm.CONSTANTS.APPOINTMENT_TYPE_BED)">Show Bed Orders Only</md-button>
    </div>
  </md-toolbar>
  <div>
  <md-content class="caseworker-appointment-cards" layout="row" layout-align="center center" layout-wrap>
    <div
    class="appointment-card md-whiteframe-3dp"
    ng-repeat="appointment in vm.caseworkerAppointments | filter: vm.appointmentFilter"
    layout="column"
    flex="20"
    ng-if="appointment.info.status != 'canceled'">
      <div class="color-primary appointment-card-header" layout="column" layout-align="center center">
        <div layout="row" layout-align="space-around center">
          <div class="md-title appointment-date">
            <p class="" layout="column" layout-align="center center">
              <span>{{appointment.info.date | date: 'MMM'}}</span>
              <span>{{appointment.info.date | date: 'dd'}}</span>
            </p>
          </div>
          <div class="md-title md-padding appointment-type-info">
            <p layout="column" layout-align="center center">
              <span class="appointment-type">{{appointment.info.appointment_type}}</span>
              <span>with <span class="appointment-delivery">{{appointment.info.delivery_method}}</span></span>
            </p>
          </div>
          <div class="appointment-icon">
            <i ng-if="appointment.info.appointment_type == vm.CONSTANTS.APPOINTMENT_TYPE_BED" class="fa fa-bed" aria-hidden="true"></i>
            <i ng-if="appointment.info.appointment_type == vm.CONSTANTS.APPOINTMENT_TYPE_SHOPPING"class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
        </div>
        <p class="appointment-status">
          <i ng-if="appointment.info.status == 'confirmed'" class="fa fa-calendar-check-o" aria-hidden="true"></i>
          <i ng-if="appointment.info.status == 'pending'" class="fa fa-calendar-o" class="fa fa-shopping-cart" aria-hidden="true"></i>
          {{appointment.info.status}}
        </p>
      </div>
      <div layout="row" layout-align="center center">
      <div class="appointment-card-body" layout="column" layout-align="center start">
        <p>
          <i class="material-icons">access_time</i>
          {{appointment.info.start_time}}
        </p>
        <p>
          <i class="material-icons">person</i>
          {{appointment.client.first}}
          {{appointment.client.last}}
        </p>
        <p>
          <i class="material-icons">place</i>
          {{appointment.info.location_name}}
        </p>
      </div>
    </div>
      <div class="md-padding appointment-card-delivery-info" layout="column" layout-align="center center">
        <div class="appointment-card-delivery-details" layout="row" layout-align="start center" ng-if="appointment.info.delivery_method == vm.CONSTANTS.DELIVERYMETHOD_DELIVERY">
          <div flex="25">
            <i class="fa fa-truck" aria-hidden="true"></i>
          </div>
          <div flex="75">
            <span ng-if="appointment.info.delivery_date != undefined">Delivered {{appointment.info.delivery_date | date: 'shortDate'}}</span>
            <span ng-if="appointment.info.delivery_date == undefined">Delivery date TBD</span>
          </div>
        </div>
        <div layout="row" ng-if="appointment.info.delivery_method == vm.CONSTANTS.DELIVERYMETHOD_PICKUP">
          <div flex="25">
            <i class="fa fa-car" aria-hidden="true"></i>
          </div>
          <div flex="75">
            <span>Pick up</span>
            <span ng-if="appointment.info.appointment_type == vm.CONSTANTS.APPOINTMENT_TYPE_BED">
              between 9 am and 3 pm
            </span>
            <span ng-if="appointment.info.appointment_type == vm.CONSTANTS.APPOINTMENT_TYPE_SHOPPING">
              within 48 hours after appointment
            </span>
          </div>
        </div>
      </div>
      <div class="appointment-card-buttons" layout="column">
          <md-button
            class="md-raised"
            ng-disabled="appointment.info.date.getTime() <= vm.minDate.getTime()"
            ng-click="vm.rescheduleAppointment(appointment)">
              <i class="material-icons">today</i>
              Reschedule
          </md-button>
          <md-button
            class="md-raised"
            ng-disabled="appointment.info.date.getTime() <= vm.minDate.getTime()"
            ng-click="vm.editAppointmentInfo(appointment)">
              <i class="material-icons">mode_edit</i>
              Edit Client Info
          </md-button>
          <md-button
            class="md-raised"
            ng-disabled="appointment.info.date.getTime() <= vm.minDate.getTime()"
            ng-click="vm.confirmCancelAppointment(appointment)">
              <i class="material-icons">clear</i>
              Cancel Appointment
          </md-button>
      </div>
    </md-content>
  </div>
  </div>
</div>
