<div class="caseworker-appointment-referall-form" layout="column" layout-align="center center" flex>
  <div class="caseworker-appointment-info" layout="row" layout-align="center center">
    <div class="md-padding appointment-type">
      <span>Shopping w/ Delivery</span>
    </div>
    <div class="md-padding appointment-location">
      <i class="material-icons">place</i>
      <span>Bloomington</span>
    </div>
    <div class="md-padding appointment-date-time">
      <i class="material-icons">today</i>
      <span>5/29/17,
      9:15 AM</span>

    </div>
  </div>
  <form class="client-referall-form" layout="column" >
    <md-input-container>
      <label>Client First Name</label>
      <input
        type="text"
        placeholder="Client First Name"
        required>
    </md-input-container>
    <md-input-container>
      <label>Client Last Name</label>
      <input
        type="text"
        placeholder="Client Last Name"
        required>
    </md-input-container>
    <md-input-container>
      <label>Client Date of Birth</label>
      <md-datepicker ng-model="vm.clientDateOfBirth"></md-datepicker>
    </md-input-container>
    <md-input-container>
      <label>Select a race/ethnicity</label>
      <md-select ng-model="vm.clientEthnicity"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
          <md-select-label>Select a race/ethnicity</md-select-label>
          <md-option ng-value="ethnicity.description" ng-repeat="ethnicity in vm.ethnicities">{{ ethnicity.description }}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>Street Address</label>
      <input
        type="text"
        placeholder="Address"
        required>
    </md-input-container>
  </form>
</div>
