<md-content ng-init="vm.activate()" class="md-padding caseworker-appointment-new" layout="column" layout-align="start center" layout-margin flex>
  <h3>Appointment Date and Time</h3>
  <div class="md-whiteframe-3dp  caseworker-appointment-info" layout="row" layout-align="center center">
    <div class="md-padding">
      <i ng-if="vm.appointment.appointment_type == vm.CONSTANTS.APPOINTMENT_TYPE_BED" class="fa fa-bed" aria-hidden="true"></i>
      <i ng-if="vm.appointment.appointment_type == vm.CONSTANTS.APPOINTMENT_TYPE_SHOPPING"class="material-icons">shopping_cart</i>
      <span><span class="appointment-type">{{vm.appointment.appointment_type}}</span> w/ <span class="appointment-delivery">{{vm.appointment.delivery_method}}</span></span>
    </div>
    <div class="md-padding appointment-location">
      <i class="material-icons">place</i>
      <span>{{vm.appointment.location_name}}</span>
    </div>
    <div class="md-padding appointment-date-time">
      <i class="material-icons">today</i>
      <span>{{vm.selectedDate | date: 'shortDate' }},
      {{vm.selectedAppointment.start_time | uppercase}}</span>
    </div>
  </div>
  <div class="md-whiteframe-1dp  caseworker-appointment-schedule-inputs" layout="row" layout-padding>
    <div class="appointment-schedule-calendar">
      <md-calendar
          ng-model="vm.selectedDate"
          ng-change="vm.selectDate(vm.selectedDate)"
          md-min-date="vm.minDate" md-max-date="vm.maxDate"
          md-date-filter="vm.availableAppointmentsPredicate">
      </md-calendar>
    </div>
    <form class="md-padding appoint-schedule-slot" layout="column" layout-align="center center">
        <p>Select an appointment:</p>
          <md-radio-group ng-model="vm.selectedAppointment">
            <md-radio-button
              ng-value="appointment"
              ng-repeat="appointment in vm.appointmentSlots">
                {{appointment.start_time}}
            </md-radio-button>
          </md-radio-group>
        <md-button class="md-raised md-primary" ng-click="vm.reserveAppointment()">Next</md-button>
    </form>
  </div>
</md-content>
