<div class="caseworker-appointment-new" layout="column" layout-align="center center" flex>
  <div class="caseworker-appointment-info" layout="row" layout-align="center center">
    <div class="md-padding appointment-type">
      <span>Shopping w/ Delivery</span>
    </div>
    <div class="md-padding appointment-location">
      <i class="material-icons">place</i>
      <span>Bloomington</span>
    </div>
    <div class="md-padding appointment-date-time">
      <i class="material-icons">today</i>
      <span>{{ctrl.myDate |date: 'shortDate'}},
      {{ctrl.selectedAppointment}}</span>

    </div>
  </div>
  <div class="caseworker-appointment-schedule-inputs" layout="row">
    <div class="appoint-schedule-calendar">
      <md-calendar
          ng-model="ctrl.myDate"
          md-min-date="ctrl.minDate" md-max-date="ctrl.maxDate"
          md-date-filter="ctrl.onlyMonToThursPredicate">
      </md-calendar>
    </div>
    <form class="md-padding appoint-schedule-slot" layout="column" layout-align="center center">
        <p>Select an appointment:</p>
          <md-radio-group ng-model="ctrl.selectedAppointment">
            <md-radio-button
              ng-value="appointment"
              ng-repeat="appointment in ctrl.appointmentSlots">
                {{appointment}}
            </md-radio-button>
          </md-radio-group>
        <md-button class="md-raised md-primary" href="#caseworker-appointment-form">Next</md-button>
    </form>
  </div>
</div>
