<div class="login-container" layout="column" layout-align="center center" flex>
  <h1>Login</h1>
  <h2 role="alert" ng-if="vm.message !== ''">{{vm.message}}</h2>
  <form ng-submit="vm.loginUser(vm.tempUser)" layout="column">
    <md-input-container>
      <label>Email</label>
      <input
        type="text"
        ng-model="vm.tempUser.email" />
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input
        type="password"
        ng-model="vm.tempUser.password" />
    </md-input-container>
    <md-button type="submit" name="submit">Log In</md-button>
  </form>
  <a href="#register"><md-button type="button">Register</md-button></a>
</div>
