<h1>Create a Bridging Login</h1>
<h2 ng-if="vm.message !== ''" role="alert">{{vm.message}}</h2>
<form ng-submit="vm.registerUser(vm.tempUser)">
  <div class="form-group">
    <label for="in-user-email">Email:</label>
    <input type="text" ng-model="vm.tempUser.email" class="form-control" />
  </div>
  <div class="form-group">
    <label for="in-user-password">Password:</label>
    <input type="password" ng-model="vm.tempUser.password" class="form-control" />
  </div>
  <div class="form-group">
    <input type="submit" name="submit" value="Create Login" />
  </div>
</form>
<a href="#login"><button type="button">Already have a Login?</button></a>
