.navigation-tabs md-content {
  background-color: inherit;
}

.navigation-tabs ._md-nav-button-text {
  color: white;
}

.caseworker-appointment-cards .appointment-card {
  border: 1px solid black;
  margin: 1em;
}

.appointment-card .appointment-card-header {
  background-color: rgb(63,81,181);
  color: white;
}

.appointment-card .appointment-card-header .appointment-date {
  font-weight: bold;
}

.appointment-card .appointment-card-delivery-info {
  background-color: rgb(224, 224, 224);
  color: rgb(54, 54, 54);
}

.md-calendar-date .md-calendar-date-selection-indicator {
  background-color: lightgreen;
}

.addButton {
  max-height: 50px;
}
