.md-toolbar-tools .logo{
  max-height: 100%;
  margin: 8px;
  margin-left: 0px;
  position: relative;
  top: 5px;
}

.navigation-tabs md-content {
  background-color: inherit;
}

.navigation-tabs ._md-nav-button-text {
  color: white;
}

md-toolbar.appointment-filter-buttons {
  background-color: white;
}

.caseworker-appointment-cards .appointment-card {
  /*border: 1px solid rgba(0,0,0,0.05);*/
  margin: 1em;
}

.appointment-card .appointment-card-header {
  background-color: #54C0C9;
  color: white;
}

.appointment-card-header .appointment-date p{
  padding: 1px   15px;
  border-right: 1px solid white;
}

.appointment-card .appointment-card-delivery-info {
  background-color: rgb(224, 224, 224);
  color: rgb(54, 54, 54);
}

.md-calendar-date .md-calendar-date-selection-indicator {
  background-color: lightgreen;
}

.addButton {
  max-height: 50px;
}

.appointment-date, .appointment-delivery, .appointment-type {
  text-transform: capitalize;
}

.fa, .material-icons {
  font-size: 2em;
}

.material-icons {
  position: relative;
  top: 9px;
  left: -2px;
}

.appointment-card-header .fa {
  font-size: 2.5em;
  padding-right: 10px;
}

#agencyInfo {
  text-align: center;
  background-color: LightSteelBlue;
  border-radius: 25px;
  width: 75%;
}
