<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Bridging</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- STYLESHEETS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="vendors/angular-material/angular-material.css">
        <link rel="stylesheet" href="/styles/style.css">
        <!-- MOMENT.js -->
        <script type="text/javascript" src="/vendors/moment/moment.js" charset="utf-8"></script>
        <!-- ANGULARJS -->
        <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
        <!-- ANGULARJS MATERIAL -->
        <script src="vendors/angular-aria/angular-aria.js" charset="utf-8"></script>
        <script src="vendors/angular-animate/angular-animate.js" charset="utf-8"></script>
        <script src="vendors/angular-material/angular-material.js" charset="utf-8"></script>
        <!-- APP CONFIG -->
        <script type="text/javascript" src="/scripts/client.min.js"></script>
    </head>
    <body>

      <header ng-include="'/views/partials/header.html'"></header>

      <main ng-view></main>

      <!--REMOVE BEFORE PUSHING TO HEROKU-->
      <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>
